@import url("https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --main-color: #3f51b5;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(165, 177, 173);
  overflow-x: hidden;
}

header {
  width: 100%;
  background: url("../Media/NextSl.jpg") fixed;
  background-position: 20cap -21cap;
  background-size: cover;
}

a {
  font-size: 14px;
  font-weight: 700;
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.containero {
  width: 100%;
  height: 100vh;
}
#Products {
  padding: 0 8%;
  position: relative;
  z-index: 20000;

  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}
#CartTitle {
  padding: 20px;
  text-align: center;
  background-color: #55328d;
  border-radius: 20px;
  color: white;
  width: 450px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#SectionProducts {
  background: url("../Media/NextSI2.jpg") fixed;
  background-position: 0cap -19cap;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  align-items: center;
}
#PriceCart {
  clip-path: polygon(0 0, 40% 0, 68% 0, 100% 25%, 100% 75%, 50% 75%, 0% 75%);
  color: #202c2d;
  background: #ffffff;
  text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5,
    -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5,
    -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5,
    -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
  padding: 50px 30px;
  margin-top: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

}
